<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Form</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
</head>
<body class="text-center">
    <form method="POST" class="form-signin">
        {{form.name.label}}
        <br>
        {{form.name}}
        <hr>
        {{form.data.label}}
        <br>
        {{form.data}}
        <br>
        <hr>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</body>
</html>